<main class="pt-0">
  <!-- ナビゲーター -->
  <div class="position-absolute pt-3">
    <%= link_to properties_path, class: "" do %>
      <i class="fa-solid fa-chevron-left"></i> 一覧
    <% end %>
  </div>
  <!-- ヘッダー -->
  <h4 class="text-center py-4">物件詳細</h4>
  <!-- ボディー -->
  <div class="content-wrap w-60 mx-auto py-4">
    <div class="w-50 mx-auto d-flex flex-column gap-3">
    
      <div>
        <span class="box-heading pb-2">物件名</span>
        <span><%= @property.name %></span>
      </div>

      <div>
        <span class="box-heading pb-2">部屋一覧</span>
        <% @property.rooms.each do |room| %>
          <div class="d-flex justify-content-between">
            <div>
              <%= room.number %>号室
              <%= room.price.to_s(:delimited) %>万円
            </div>
            <div>
              <%= link_to "編集", edit_property_room_path(@property, room) %>
              <%= link_to "削除", property_room_path(@property, room), method: :delete %>
            </div>
          </div>
        <% end %>
      </div>

      <div>
        <%= link_to "部屋を追加", new_property_room_path(@property) %>
      </div>

    </div>
  </div>
  <!-- ボタン -->
  <% if admin? %>
    <div class="pt-4 d-flex justify-content-center gap-3">
      <%= link_to "編集", edit_property_path(@property), class: "btn btn-primary btn-rounded btn-lg px-5" %>
      <%= link_to "削除", property_path(@property), method: :delete, class: "btn btn-danger btn-rounded btn-lg px-5", data: { confirm: '削除しますか？' } %>
    </div>
  <% end %>
</main>