<main class="pt-0">
  <!-- ナビゲーター -->
  <div class="position-absolute pt-3">
    <%= link_to properties_path, class: "" do %>
      <i class="fa-solid fa-chevron-left"></i> 一覧
    <% end %>
  </div>
  <!-- ヘッダー -->
  <h4 class="text-center py-4">物件詳細</h4>
  <!-- ボディー -->
  <div class="content-wrap w-60 mx-auto py-4">
    <div class="w-50 mx-auto d-flex flex-column gap-3">
    
      <div>
        <span class="box-heading pb-2">名前</span>
        <span><%= @property.name %></span>
      </div>

      <div>
        <span class="box-heading pb-2">価格</span>
        <span><%= @property.price.to_s(:delimited) %>万円</span>
      </div>

    </div>
  </div>
  <!-- ボタン -->
  <% if admin? %>
    <div class="pt-4 d-flex justify-content-center gap-3">
      <%= link_to "編集", edit_property_path(@property), class: "btn btn-primary btn-rounded btn-lg px-5" %>
      <%= link_to "削除", property_path(@property), method: :delete, class: "btn btn-danger btn-rounded btn-lg px-5", data: { confirm: '削除しますか？' } %>
    </div>
  <% end %>
</main>