<main>
  <div class="content-wrap content-wrap--table content-wrap--height">
    <div>
      <!-- ヘッダー -->
      <div class="p-3 d-flex justify-content-between">
        <!-- 左 -->
        <div class="d-flex flex-column justify-content-between">
          <!-- 上段 -->
          <div class="main-heading">
            <i class="fa-solid fa-calendar-days fa-lg main-heading--box"></i>
            <h6 class="main-heading--title">カレンダー</h6>
          </div>
          <!-- 下段 -->
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <!-- 右 -->
        <div class="d-flex flex-column justify-content-between">
          <!-- 上段 -->
          <div class="d-flex gap-1">
          </div>
          <!-- 下段 -->
          <div class="d-flex justify-content-end gap-2">
          </div>
        </div>
      </div>
      <!-- テーブル -->
      <div class="px-3">
        <%= month_calendar do |date| %>
          <div class="text-center text-body font-weight-bold fs-8">
            <%= date.day %>
          </div>
          <div class="pt-2 d-flex flex-column gap-1">
            <!-- セミナー -->
            <% @seminars = Seminar.where(start_date_time: date.in_time_zone.all_day) %>
            <% @seminars.each do |seminar| %>
              <%= link_to seminar_path(seminar), class: "text-hover ps-1 rounded-3" do %>
                <i class="fa-solid fa-circle text-warning fs-7 pe-1"></i>
                <span class="text-body fs-9">
                  <%= l seminar.start_date_time, format: :short_time %> セミナー
                </span>
              <% end %>
            <% end %>
            <!-- スケジュール -->
            <% if admin? %>
              <% @schedules = Schedule.where(schedule_date_time: date.in_time_zone.all_day) %>
            <% else %>
              <% @schedules = Schedule.where(schedule_date_time: date.in_time_zone.all_day, creator_id: current_user.id).or(Schedule.where(schedule_date_time: date.in_time_zone.all_day, attender_id: current_user.id)) %>
            <% end %>
            <% @schedules.each do |schedule| %>
              <%= link_to lead_path(schedule.lead), class: "text-hover ps-1 rounded-3" do %>
                <i class="fa-solid fa-circle text-success fs-7 pe-1"></i>
                <span class="text-body fs-9">
                  <%= l schedule.schedule_date_time, format: :short_time %> <%= schedule.title.truncate(13) %>
                </span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>