<%= form_with model: lead do |f| %>
  <!-- ヘッダー -->
  <div class="modal-header">
    <h5>担当者編集</h5>
    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
  </div>
  <!-- ボディー -->
  <div class="modal-body pt-3 pb-5">
    <%= render 'layouts/error_messages', model: f.object %>

    <%= f.hidden_field :form_type, :value => "owner" %>

    <div>
      <%= f.label :owner_id, '担当者', class: "form-label font-weight-bold" %>
      <%= f.collection_select :owner_id, User.all, :id, :name, {include_blank: "---"}, {class: "form-control w-auto"} %>
    </div>

  </div>
  <!-- フッター -->
  <div class="modal-footer">
    <button type="button" class="cancel-form btn btn-light" data-mdb-dismiss="modal" data-mdb-ripple-color="dark">閉じる</button>
    <%= f.submit "変更を保存", class: "btn btn-primary" %>
  </div>
<% end %>