<% path = request.path == all_leads_leads_path ? all_leads_leads_path : my_leads_leads_path %>
<%= search_form_for q, url: path, html: { class: "slide-form__form" } do |f| %>
  <!-- ヘッダー -->
  <div class="slide-form__header">
    <h5 class="text-white">フィルター</h5>
    <div class="p-1 cursor-pointer">
      <i id="closeSlide" class="fa-solid fa-x fa-lg text-white"></i>
    </div>
  </div>
  <!-- ボディー -->
  <div class="slide-form__body">
    <h6 class="pb-3">フィルター条件を指定</h6>
    <div class="d-flex flex-column gap-2 fs-9">

      <div class="d-flex flex-column">
        <%= f.label :name_or_kana_or_email_or_address_or_company_cont_any, '名前、メールアドレス、住所、勤務先' %>
        <span class="fs-7 text-grey">（スペースでAND検索ができます。）</span>
        <%= f.text_field :name_or_kana_or_email_or_address_or_company_cont_any, placeholder: '名前、電話番号、メールアドレス、住所、勤務先', class: "form-control" %>
      </div>

      <div>
        <span>性別</span>
        <div class="form-check">
          <%= f.radio_button :gender_id_eq, 1, class: "form-check-input" %>
          <%= f.label :gender_id_eq, '男性', value: 1, class: "form-check-label" %>
        </div>
        <div class="form-check">
          <%= f.radio_button :gender_id_eq, 2, class: "form-check-input" %>
          <%= f.label :gender_id_eq, '女性', value: 2, class: "form-check-label" %>
        </div>
      </div>

      <div>
        <%= f.label :birth, '生年月日' %>
        <div class="pb-1 d-flex align-items-end gap-1">
          <%= raw sprintf(
            f.date_select(
              :birth_lteq, {
                prompt:"--",
                use_month_numbers: true,
                start_year: 1900,
                end_year: (Time.now.year - 22),
                default: Date.new(1990, 01, 01),
                date_separator: '%s'
              }, {
                class: "form-control w-auto"
              }
            ),'年&ensp;', '月&ensp;'
          ) + '日' %>
          以前
        </div>
        <div class="d-flex align-items-end gap-1">
          <%= raw sprintf(
            f.date_select(
              :birth_gteq, {
                prompt:"--",
                use_month_numbers: true,
                start_year: 1900, 
                end_year: (Time.now.year - 22), 
                default: Date.new(1990, 01, 01), 
                date_separator: '%s'
              }, {
                class: "form-control w-auto"
              }
            ),'年&ensp;', '月&ensp;'
          ) + '日' %>
          以降
        </div>
      </div>

      <div>
        <%= f.label :age, '年齢' %>
        <div class="pb-1 d-flex align-items-end gap-1">
          <%= f.number_field :age_gteq, placeholder: '0', class: "form-control w-auto" %>
          歳以上
        </div>
        <div class="d-flex align-items-end gap-1">
          <%= f.number_field :age_lteq, placeholder: '0', class: "form-control w-auto" %>
          歳以下
        </div>
      </div>

      <div>
        <%= f.label :prefecture_id_eq, '都道府県' %>
        <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <span>世帯</span>
        <div class="form-check">
          <%= f.radio_button :household_id_eq, 1, class: "form-check-input" %>
          <%= f.label :household_id_eq, '有り', value: 1, class: "form-check-label" %>
        </div>
        <div class="form-check">
          <%= f.radio_button :household_id_eq, 2, class: "form-check-input" %>
          <%= f.label :household_id_eq, '無し', value: 2, class: "form-check-label" %>
        </div>
      </div>

      <div>
        <%= f.label :occupation_id_eq, '職業' %>
        <%= f.collection_select :occupation_id_eq, Occupation.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :annual_income_range_id_eq, '年収帯' %>
        <%= f.collection_select :annual_income_range_id_eq, AnnualIncomeRange.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :annual_income_gteq, '年収' %>
        <div class="pb-1 d-flex align-items-end gap-1">
          <%= f.number_field :annual_income_gteq, placeholder: '0', class: "form-control w-auto" %>
          万円以上
        </div>
        <div class="d-flex align-items-end gap-1">
          <%= f.number_field :annual_income_lteq, placeholder: '0', class: "form-control w-auto" %>
          万円以下
        </div>
      </div>
      
      <div>
        <%= f.label :created_at_lteq, '登録日時' %>
        <div class="pb-1 d-flex align-items-end gap-1">
          <%= f.datetime_field :created_at_lteq, class: "form-control w-auto" %>
          以前
        </div>
        <div class="d-flex align-items-end gap-1">
          <%= f.datetime_field :created_at_lteq, class: "form-control w-auto" %>
          以降
        </div>
      </div>

      <div>
        <%= f.label :source_id_eq, 'ソース' %>
        <%= f.collection_select :source_id_eq, Source.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :sales_process_id_eq, 'プロセス' %>
        <%= f.collection_select :sales_process_id_eq, SalesProcess.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :owner_id_eq, '担当者' %>
        <%= f.collection_select :owner_id_eq, User.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :closer_id_eq, 'クローザー' %>
        <%= f.collection_select :closer_id_eq, User.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :lead_seminar_seminar_id_eq, 'セミナー参加日' %>
        <%= f.collection_select :lead_seminar_seminar_id_eq, Seminar.all, :id, :start_date_time, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :lead_seminar_level_id_in, 'セミナーレベル' %>
        <%= f.collection_select :lead_seminar_level_id_in, Level.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>

      <div>
        <%= f.label :lead_seminar_attend_id_in, '参加' %>
        <%= f.collection_select :lead_seminar_attend_id_in, Attend.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
      </div>
    </div>

  </div>
  <!-- フッター -->
  <div class="slide-form__footer">
    <div>
      <%= f.submit "リセット", type: :reset, class: "btn btn-light" %>
    </div>
    <div>
      <%= f.submit '検索', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>