<% path = request.path == all_leads_leads_path ? all_leads_leads_path : my_leads_leads_path %>
<%= search_form_for q, url: path, html: {class: "form-outline d-flex"} do |f| %>

  <%= f.text_field :name_or_kana_or_email_or_address_or_company_cont_any, class: "form-control" %>
  <%= f.label :name_or_kana_or_email_or_address_or_company_cont_any, 'リードを検索...', class: "form-label font-weight-normal fs-9" %>
    
  <div class="d-none">
    <div class="border rounded p-2">
      <span class="form-label">性別</span>
      <div class="form-check">
        <%= f.radio_button :gender_id_eq, 1, class: "form-check-input" %>
        <%= f.label :gender_id_eq, '男性', value: 1, class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= f.radio_button :gender_id_eq, 2, class: "form-check-input" %>
        <%= f.label :gender_id_eq, '女性', value: 2, class: "form-check-label" %>
      </div>
    </div>

    <div class="border rounded p-2">
      <%= f.label :birth, '生年月日', class: "form-label" %>
      <div class="pb-1 d-flex align-items-end gap-1">
        <%= raw sprintf(
          f.date_select(
            :birth_gteq, {
              prompt:"--",
              use_month_numbers: true,
              start_year: 1900, 
              end_year: (Time.now.year - 22), 
              default: Date.new(1990, 01, 01), 
              date_separator: '%s'
            }, {
              class: "form-control w-auto"
            }
          ),'年&ensp;', '月&ensp;'
        ) + '日' %>
        〜
      </div>
      <div class="d-flex align-items-end gap-1">
        〜
        <%= raw sprintf(
          f.date_select(
            :birth_lteq, {
              prompt:"--",
              use_month_numbers: true,
              start_year: 1900,
              end_year: (Time.now.year - 22),
              default: Date.new(1990, 01, 01),
              date_separator: '%s'
            }, {
              class: "form-control w-auto"
            }
          ),'年&ensp;', '月&ensp;'
        ) + '日' %>
      </div>
    </div>

    <div class="border rounded p-2">
      <%= f.label :age, '年齢' %>
      <div class="pb-1 d-flex align-items-end gap-1">
        <%= f.number_field :age_gteq, placeholder: '0', class: "form-control w-auto" %>
        〜
      </div>
      <div class="d-flex align-items-end gap-1">
        〜
        <%= f.number_field :age_lteq, placeholder: '0', class: "form-control w-auto" %>
        歳
      </div>
    </div>

    <div class="border rounded p-2">
      <%= f.label :prefecture_id_eq, '都道府県' %>
      <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>

    <div class="border rounded p-2">
      <span>世帯</span>
      <div class="form-check">
        <%= f.radio_button :household_id_eq, 1, class: "form-check-input" %>
        <%= f.label :household_id_eq, '有り', value: 1, class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= f.radio_button :household_id_eq, 2, class: "form-check-input" %>
        <%= f.label :household_id_eq, '無し', value: 2, class: "form-check-label" %>
      </div>
    </div>

    <div class="border rounded p-2">
      <%= f.label :occupation_id_eq, '職業' %>
      <%= f.collection_select :occupation_id_eq, Occupation.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>
    
    <div class="border rounded p-2">
      <%= f.label :annual_income_gteq, '年収' %>
      <div class="pb-1 d-flex align-items-end gap-1">
        <%= f.number_field :annual_income_gteq, placeholder: '0', class: "form-control w-auto" %>
        〜
      </div>
      <div class="d-flex align-items-end gap-1">
        〜
        <%= f.number_field :annual_income_lteq, placeholder: '0', class: "form-control w-auto" %>
        万円
      </div>
    </div>
    
    <div class="border rounded p-2">
      <%= f.label :created_at_lteq, '登録日時' %>
      <div class="pb-1 d-flex align-items-end gap-1">
        <%= f.datetime_field :created_at_gteq, class: "form-control w-auto" %>
        〜
      </div>
      <div class="d-flex align-items-end gap-1">
        〜
        <%= f.datetime_field :created_at_lteq, class: "form-control w-auto" %>
      </div>
    </div>

    <div class="border rounded p-2">
      <%= f.label :source_id_eq, 'ソース' %>
      <%= f.collection_select :source_id_eq, Source.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>

    <div class="border rounded p-2">
      <%= f.label :sales_process_id_eq, 'プロセス' %>
      <%= f.collection_select :sales_process_id_eq, SalesProcess.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>

    <div class="border rounded p-2">
      <%= f.label :owner_id_eq, '担当者' %>
      <%= f.collection_select :owner_id_eq, User.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>

    <div class="border rounded p-2">
      <%= f.label :closer_id_eq, 'クローザー' %>
      <%= f.collection_select :closer_id_eq, User.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>

    <div class="border rounded p-2">
      <%= f.label :lead_seminar_seminar_id_eq, 'セミナー参加日' %>
      <%= f.collection_select :lead_seminar_seminar_id_eq, Seminar.all, :id, :start_date_time, { include_blank: "---" }, { class: "form-control" } %>
    </div>

    <div class="border rounded p-2">
      <%= f.label :lead_seminar_level_id_in, 'セミナーレベル' %>
      <%= f.collection_select :lead_seminar_level_id_in, Level.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>

    <div class="border rounded p-2">
      <%= f.label :lead_seminar_attend_id_in, '参加' %>
      <%= f.collection_select :lead_seminar_attend_id_in, Attend.all, :id, :name, { include_blank: "---" }, { class: "form-control" } %>
    </div>
  </div>

  <%= f.submit '検索', type: "submit", class: "bg-primary text-white rounded-end px-2 border fs-8" %>
  
<% end %>