<%# CSVダウンロード用のパスを指定 %>
<% if request.path == all_leads_leads_path %>
  <% csv_path = all_leads_leads_path(format: :csv) + "?" + request.query_string %>
<% else %>
  <% csv_path = my_leads_leads_path(format: :csv) + "?" + request.query_string %>
<% end %>

<main>
  <div class="content-wrap content-wrap--table content-wrap--height">
    <div>
      <!-- ヘッダー -->
      <div class="p-3 d-flex justify-content-between">
        <!-- 左 -->
        <div class="d-flex flex-column justify-content-between gap-4">
          <!-- 上段 -->
          <div class="main-heading">
            <i class="fa-solid fa-users fa-lg main-heading--box"></i>
            <h6 class="main-heading--title">リード</h6>
          </div>
          <!-- 下段 -->
          <div class="d-flex justify-content-between">
            <div class="tab">
              <% if request.path == all_leads_leads_path %>
                <span class="tab__item is-active">全てのリード</span>
                <%= link_to "自分のリード", my_leads_leads_path, class: "tab__item"%>
              <% else %>
                <% unless current_user.role == "一般" %>
                  <%= link_to "全てのリード", all_leads_leads_path, class: "tab__item"%>
                <% end %>
                <span class="tab__item is-active">自分のリード</span>
              <% end %>
            </div>
          </div>
        </div>
        <!-- 右 -->
        <div class="d-flex flex-column justify-content-between">
          <!-- 上段 -->
          <div class="d-flex gap-2 justify-content-end">
            <div>
              <%= link_to "新規登録", new_lead_path, data: {mdb_toggle: "modal", mdb_target: "#leadModal"}, class: "btn btn-primary btn-rounded", remote: true %>
            </div>
            <div class="btn-group shadow-0" role="group" aria-label="Basic example">
              <%= link_to "CSVインポート", csv_leads_path, class: "btn btn-outline-primary text-hover", data: {mdb_color: 'dark'} %>
              <%= link_to "CSVダウンロード", csv_path, class: "btn btn-outline-primary text-hover", data: {mdb_color: 'dark'} %>
            </div>
          </div>
          <!-- 下段 -->
          <div class="d-flex justify-content-end gap-2">
            <%= render partial: 'search_owner_form', locals: { q: @q } %>
            <%= render partial: 'search_name_form', locals: { q: @q } %>
            <div id="openSlideForm" class="open-slide text-hover">
              <i class="fa-solid fa-filter d-flex align-items-center"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- テーブル -->
      <div class="table-wrapper">
        <%= render partial: 'table', locals: { leads: @leads, q: @q, salesprocess_count: @salesprocess_count } %>
      </div>
    </div>
    <!-- ページネーション -->
    <div class="py-5">
      <%= paginate @leads %>
    </div>
  </div>
</main>



<!-- リードモーダル -->
<div class="modal fade" id="leadModal" tabindex="-1" aria-labelledby="leadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <!-- リードフォーム -->
    <div id="leadForm" class="modal-content"></div>
    <!-- リードセミナーフォーム -->
    <div id="leadSeminarForm" class="modal-content"></div>
  </div>
</div>

<!-- 検索フォーム -->
<div id="slideForm" class="slide-form slide-out">
  <%= render partial: 'search_form', locals: { q: @q } %>
</div>