<div class="simple-calendar">
  <div class="calendar-heading d-flex align-items-center gap-4 pb-2">
    <div>
      <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view, class: "calender-left text-hover" %>
      <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view, class: "calender-right text-hover" %>
    </div>
    <h4 class="text-center"><%= start_date.year %>年 <span class="calendar-title"><%= t('date.month_names')[start_date.month] %></h4>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-black-50 fs-9"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
