<%= form_with model: seminar, local: true do |f| %>
  <div class="content-wrap w-60 mx-auto">
    <div class="w-50 mx-auto py-5">
      <div class="d-flex flex-column gap-4">
        <%# エラーメッセージ %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div>
          <%= f.label :title, 'タイトル', class: "form-label font-weight-bold" %><span class="text-danger">【必須】</span>
          <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
        </div>

        <div>
          <%= f.label :start_date_time, '開始日時', class: "form-label font-weight-bold" %><span class="text-danger">【必須】</span>
          <%= f.datetime_field :start_date_time, include_blank: true, class: "form-control" %>
        </div>

        <div>
          <%= f.label :end_date_time, '終了日時', class: "form-label font-weight-bold" %><span class="text-danger">【必須】</span>
          <%= f.datetime_field :end_date_time, include_blank: true, class: "form-control" %>
        </div>

        <div>
          <%= f.label :format, '形式', class: "form-label font-weight-bold" %><span class="text-danger">【必須】</span>
          <%= f.collection_radio_buttons :format, Seminar.formats, :first , :first do |b| %>
            <div class="form-check">
              <%= b.label(class: "form-check-label") { b.radio_button(class: "form-check-input") + b.text } %>
            </div>
          <% end %>
        </div>

        <div>
          <%= f.label :instructor, '講師', class: "form-label font-weight-bold" %><span class="text-danger">【必須】</span>
          <%= f.text_field :instructor, placeholder: "講師", class: "form-control" %>
        </div>

        <div>
          <%= f.label :description, '説明', class: "form-label font-weight-bold" %><span class="text-danger">【必須】</span>
          <%= f.text_area :description, placeholder: "説明", class: "form-control mh-100p" %>
        </div>

        <div>
          <%= f.label :url, 'ZoomURL', class: "form-label font-weight-bold" %>
          <%= f.text_field :url, placeholder: "ZoomURL", class: "form-control" %>
        </div>

      </div>
    </div>
  </div>
  <!-- ボタン -->
  <div class="text-center pt-4">
    <% if seminar.new_record? %>
      <%= f.submit "作成", class: "btn btn-primary btn-rounded btn-lg px-5" %>
    <% else %>
      <%= f.submit "更新", class: "btn btn-primary btn-rounded btn-lg px-5" %>
    <% end %>
  </div>
<% end %>