<table class="index-table-2">
  <tr>
    <th>
      リード名
    </th>
    <th>
      取引タイプ
    </th>
    <th>
      開始日時
    </th>
    <th>
      物件
    </th>
    <th>
      作成者
    </th>
    <th>
      同席者
    </th>
    <th>
      概要
    </th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to order.lead.name, lead_path(order.lead) %>
      </td>
      <td>
        <%= order.order_type %>
      </td>
      <td>
        <%= l order.start_date_time %>
      </td>
      <td>
        <%= link_to order.property.name, property_path(order.property) %>
      </td>
      <td>
        <%= order.creator.name %>
      </td>
      <td>
        <%= order.attender&.name %>
      </td>
      <td>
        <%= order.overview.truncate(30) %>
      </td>
    </tr>
  <% end %>
</table>